multi-timer.json
{
  "name": "multi-timer",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aa835453-b1d3-4efb-b335-21d36c5e1a8e",
              "leftValue": "={{ $json.keys }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        208
      ],
      "id": "b53f08d6-aff0-4f1f-a6c9-bedf4dc0298c",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -352,
        368
      ],
      "id": "88467858-0650-474e-9c91-298118f93c73",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        368
      ],
      "id": "d65e86ed-b4d7-4ad2-82b6-182ef761254e",
      "name": "manual-execute"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "timer:*",
        "getValues": false
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -752,
        208
      ],
      "id": "f70e4826-e96b-4230-abf4-bd1dd16d21e2",
      "name": "get-timer-keys",
      "credentials": {
        "redis": {
          "id": "vujTbdyohkcaRwN7",
          "name": "internal-redis"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.fromEntries(\n  Object.entries($json).map(([key, value]) => [\n    key.split(':')[1],\n    value\n  ])\n) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        32
      ],
      "id": "35b58224-a780-4321-be96-d710c960d61a",
      "name": "format-output1"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "timer:*"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -752,
        32
      ],
      "id": "7683ccd2-7886-4b7a-bf37-4af4cdee69bd",
      "name": "get-all-timers",
      "credentials": {
        "redis": {
          "id": "vujTbdyohkcaRwN7",
          "name": "internal-redis"
        }
      }
    },
    {
      "parameters": {
        "path": "timers",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        32
      ],
      "id": "b575bf1b-4e73-44cb-88d4-139155d02f58",
      "name": "webhook-get-timers",
      "webhookId": "ff7d5db0-4b2a-4032-aac2-8d18e639a2c3"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.keys }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -352,
        208
      ],
      "id": "9250f91c-19a2-46c2-adea-b97be55f69ef",
      "name": "delete-timers",
      "credentials": {
        "redis": {
          "id": "vujTbdyohkcaRwN7",
          "name": "internal-redis"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "timers",
        "options": {
          "responseCode": {
            "values": {
              "responseCode": 204
            }
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        208
      ],
      "id": "72114b8b-fa88-4343-9012-67fda1b7a67a",
      "name": "Webhook-delete-timers",
      "webhookId": "ff7d5db0-4b2a-4032-aac2-8d18e639a2c3"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=timer:{{ $json.query?.id || 'default' }}",
        "value": "={{  Date.now().toString() }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -752,
        -320
      ],
      "id": "a3ba3c18-6476-442b-9574-d2f2bc29b2e8",
      "name": "Redis-set-timer-id",
      "credentials": {
        "redis": {
          "id": "vujTbdyohkcaRwN7",
          "name": "internal-redis"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "timer",
        "options": {
          "noResponseBody": true,
          "responseCode": {
            "values": {
              "responseCode": 204
            }
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        -320
      ],
      "id": "8d1dca21-7a2c-4025-bb3c-81f7333dfaa5",
      "name": "Webhook-set-timer-id",
      "webhookId": "4547df85-2d24-4008-bcf6-c4e32f64fd9b"
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "timer",
        "options": {
          "noResponseBody": true,
          "responseCode": {
            "values": {
              "responseCode": 204
            }
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        -144
      ],
      "id": "e7453d67-6efb-41fc-af81-1d13ba9e0784",
      "name": "Webhook-delete-timer-id",
      "webhookId": "4547df85-2d24-4008-bcf6-c4e32f64fd9b"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=timer:{{ $json.query?.id || 'default' }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -752,
        -144
      ],
      "id": "e5bcc819-40f5-46cc-87df-bd53039b1347",
      "name": "Redis-delete-timer-id",
      "credentials": {
        "redis": {
          "id": "vujTbdyohkcaRwN7",
          "name": "internal-redis"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "delete-timers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "manual-execute": {
      "main": [
        [
          {
            "node": "get-timer-keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-timer-keys": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-all-timers": {
      "main": [
        [
          {
            "node": "format-output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook-get-timers": {
      "main": [
        [
          {
            "node": "get-all-timers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-delete-timers": {
      "main": [
        [
          {
            "node": "get-timer-keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-set-timer-id": {
      "main": [
        [
          {
            "node": "Redis-set-timer-id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-delete-timer-id": {
      "main": [
        [
          {
            "node": "Redis-delete-timer-id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bae14d00-2985-464e-842b-a9417163b79a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4fe3d8da3f7dd831ae01c9e62582e44407eefad0034143adb795fce9d1b8a7ab"
  },
  "id": "luSxcnKNEMng3msV",
  "tags": []
}